# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.pytest_cache

# Distribution / packaging
.Python
env/
build/
builds/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.pot

# Django stuff:
*.log
local_settings.py

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedulec


# dotenv
container.env

# virtualenv
.venv
venv/
ENV/

# DB
*.db
*.sqlite3
.idea/
build
media
whoosh_index
postgres-data
htmlcov
elasticsearch-data
gcloud.json
tl.env

# metrics db dictory for multiple process
metrics/
.DS_Store
*.py~
